* { box-sizing: border-box;}

body{
    margin: 0;
}

h1{
    color: green;
}

.parent{
    background-color:  #23424A;
    padding: 50 px;
}

.child{
    background-color:  #38CFD9;
    height: 250px;;
}